* {
  margin: 0;
  padding: x;
  box-sizing: border-box;
}
h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Coiny", cursive;
  color: white;
  text-align: center;
}
body {
  background-color: rgb(56, 57, 57);
}
header {
  margin-bottom: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 48px;
}
/*Aligning the entire main to be one single grid as adaptive*/
@media (max-width: 1000px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
.logo {
  display: flex; /* Horizontal alignment*/
  align-items: center;
  gap: 16px;
}
.logo img {
  width: 68px;
  height: 68px;
}

.fact-form {
  background-color: rgb(112, 108, 108);
  margin-bottom: 16px;
  padding: 16px 240px;
  display: flex;
  gap: 20px;
  border-radius: 10px;
}

.hidden-fact-form {
  display: none !important; /* !important takes precedance over all classes */
}

@media (max-width: 1000px) {
  body {
    padding: 32px 48px;
  }
  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }
}

.fact-form input {
  border-radius: 100px;
}
.fact-form input::placeholder {
  color: black;
}
.fact-form span {
  font-weight: 600;
  font-size: 18px;
}
.btn {
  border: none;
  margin-bottom: 16px;
  font-family: "Coiny", sans-serif;
  font-size: 15px;
  background-image: linear-gradient(to right, red, yellow);
  transition: 0.1s;
  border-radius: 10px;
}
.btn:hover {
  transform: scale(110%) rotate(-5deg);
  cursor: pointer;
}
.vote-buttons {
  cursor: pointer;
  display: flex;
  background-color: rgb(116, 113, 113);
  gap: 15px;
}

.vote-buttons button {
  border-radius: 10px;
}

.vote-buttons button:hover {
  background-color: brown;
  cursor: pointer;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  font-family: "Anta", sans-serif;
  color: rgb(28, 12, 171);
  background-color: rgb(112, 108, 108);
  margin-bottom: 30px;
  padding: 16px;
  border: 16px;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  border-radius: 10px;
}
/*Make the UI adaptive*/
@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", cursive;
  color: rgb(232, 17, 17);
  background-color: rgb(185, 153, 153);
  border-radius: 8px;
  padding-top: 5px;
}

ul {
  list-style: none;
}

.footnote {
  background-color: #89c264;
  font-family: "Press Start 2P", system-ui;
  font-size: x-small;
  border-radius: 10px;
}
